<div class="my-divider"></div>
    <div class="row">
        <div class="col-md-12 header-box">
            <span class="header-text">About me</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8 header-box">
              <div class="introduction-text">
                <span>Hello! My name is Nikolay Angelov, and I am a 24 years old MSc student living
                    in Copenhagen, also a dedicated web developer and designer with experience
                    in SCRUM and managing agile teams. </span> <br>
                    <div class="my-divider"></div>
                <span>
                    I have diverse set of skills, ranging from design to HTML + CSS + JavaScript, all
                    the way to PHP and even being SCRUM master and product owner.
               </span>
              </div>
          </div>
        <div class="col-md-2"></div>
   </div> <!-- End of Introduction -->

   <div class="my-divider-2x"></div>

    <div class="row">
        <div class="col-md-12 header-box">
            <span class="header-text">Skills</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6 header-box">
            <div class="introduction-text">
              <span>I'm specialised in</span>
            </div>
          </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="aboutme-font-style">
      <div class="col-md-3">
          <div class="specialised-img-box custom-bx">
              <svg class="svg-helper" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape svg-helper"/>
                </rect>
              </svg>
          </div>
          <div class="text-center"><span class="specialised-headline">Responsive web design</span>
          <p class="specialised-description">I do my designs mostly in the browser. That’s the place where the clients are going to experience the product and I prefer to start and finish there.</p></div>
      </div>
      <div class="col-md-3">
          <div class="specialised-img-box concepting-bx">
              <svg class="svg-helper" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape svg-helper"/>
                </rect>
              </svg>
          </div>
          <div class="text-center"><span class="specialised-headline">Concepting</span>
          <p class="specialised-description">My interests in many different fields from photography to art and sports have helped me to stay curious and open-minded about new ideas and trends. </p></div>
      </div>
      <div class="col-md-3">
          <div class="specialised-img-box prototyping-bx">
              <svg class="svg-helper" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape svg-helper"/>
                </rect>
              </svg>
          </div>
           <div class="text-center"><span class="specialised-headline">Prototyping</span>
          <p class="specialised-description">My coding knowledge and understanding of how technologies, languages and frameworks work together gives me the ability to prototype complex concept ideas.</p></div>
      </div>
      <div class="col-md-3">
          <div class="specialised-img-box learning-bx">
              <svg class="svg-helper" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape svg-helper"/>
                </rect>
              </svg>
          </div>
           <div class="text-center"><span class="specialised-headline">Learning</span>
          <p class="specialised-description">Being a developer you should never stop learning, reading and playing with new technologies in order to stay competitive and deliver the best product.  </p></div>
      </div>
    </div>
  </div>


  <div class="my-divider-2x"></div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 header-box introduction-text">
      <span>The crossover between programming and design has always been of interest to me. Since I have started my education in software development I have been lucky enough to work with some talented teams on number of projects, some of which you can see in my <a href="portfolio.html">portfolio</a>.</span><br>
      <div class="my-divider"></div>

    </div>
    <div class="col-md-2"></div>
  </div>  <!-- End of Specialised in -->

   <div class="my-divider-2x"></div>

   <!-- START Fun -->

    <div class="row">
        <div class="col-md-12 header-box">
            <span class="header-text">Fun</span>
        </div>
  </div>

    <div class="row">
        <div class="col-md-12 insta-overlay">
              <section class="footer-background">

                <div id="instafeed"></div>
                   <div class="fun-text">

                     <p>To live a happy life I need some hobbies to spur my creativity and ignite my passion. Spending more time outside, walking and interacting with people recharges me. Usually while doing that I have a camera in my hand. You can see some of my pictures<a target="_blank" href="#"> here.</a> <br>
                      I go to the gym every morning. And it’s not something I look forward to or even remotely enjoy, but it’s part of my physical discipline. What I really like about it is that I don’t like doing it so when it’s done it’s a mental victory. Mental victories build momentum.
                     </p>


                    </div>
              </section>


        </div>
    </div>

    <script type="text/javascript" src="script/instagram-controller.js" ></script>
