<div class="my-divider"></div>

<div class="row" >
  <div class="col-md-12 header-box">
      <span class="contact-header">Contact</span>
  </div>
</div>

<div class="row" id="min-h">
  <div class="col-md-12 contact-content">
    <div class="inner-wrapper">
      <div class="contact-icons">
        <div class="ihover"><i class="fa fa-envelope-o" ></i></div>
        <div><i class="fa fa-phone" ></i></div>
        <div><i class="fa fa-linkedin" ></i></div>
        <div><i class="fa fa-github" ></i></div>
      </div>
      <div class="contact-info">
        <div><a href="mailto:n.angelov@yahoo.com">n.angelov@yahoo.com</a></div>
        <div> 91858292 </div>
        <div><a target="_blank" href="https://dk.linkedin.com/in/nickangelov">nickangelov</a></div>
        <div><a target="_blank" href="https://github.com/notnick">notnick</div>
      </div>
    </div>
  </div>
</div>


<!-- END Content -->

<div class="my-divider-2x"></div>
