

<div class="content-wrapper animated bounceInDown">

 <div class="my-divider-2x"></div>

     <div class="row">
           <div class="col-md-6 pull-left">
              <span class="hireme-txt"> Likes to build useful stuff </span>
           </div>
     </div>

<hr>

     <div class="row">
         <div class="col-md-6 pull-left">
           <span class="hello-txt ">Hello, world.</span>
         </div>
     </div>



     <div class="row indent-txt">
         <div class="col-md-12 pull-left ">
           <span class="dev-txt">I'm a <span class="underline-text">developer</span> &amp; <span class="underline-text">designer</span>
           </span>
         </div>
         <div class="col-md-12 pull-left ">
           <span class="dev-txt">
           in Copenhagen.
           </span>
         </div>
     </div>

   <div class="my-divider-2x"></div>

     <div class="row indent-txt">
         <div class="col-md-12 pull-left">
           <span class="cl-effect-16">
             <a href="#/portfolio" data-hover="See my work.">See my work.</a>
           </span>
         </div>
     </div>
</div>
