<div class="my-divider"></div>

<div class="row" >
  <div class="col-md-12 header-box">
      <span class="portfolio-header">Selected work 2014-2016</span>
  </div>
</div>

<div class="row" id="min-h">

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="/portfolio/fish-festival">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/fish-festival.png"class="img-responsive" alt="Project Comics Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">Fish Festival</span>
      <p class="project-box-description"> Redesign </p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="/portfolio/euro2016">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/euro.png"class="img-responsive" alt="Project Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline"> Family Betting </span>
      <p class="project-box-description">Euro 2016 bets</p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="/portfolio/painter">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/painter.png"class="img-responsive cover-stretch" alt="Project  Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">Personal Page</span>
       <p class="project-box-description">Painter showcase</p></div>
    </div>

</div>

<div class="row" id="min-h">

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="/portfolio/comics">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/project1-2.jpg"class="img-responsive" alt="Project Comics Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">Comics</span>
      <p class="project-box-description"> Kids party center </p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="/portfolio/invoicepro">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/project2-2.jpg"class="img-responsive" alt="Project Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline"> InvoicePro </span>
      <p class="project-box-description">Invoice generator</p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="../img/project3v3-2.jpg"class="img-responsive cover-stretch" alt="Project  Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">REHAPP</span>
       <p class="project-box-description">Telemedicine system</p></div>
    </div>

</div>


<!-- END Content -->

<div class="my-divider-2x"></div>

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78416857-1', 'auto');

  ga('set', 'page', '/portfolio.html');
  ga('send', 'pageview');

</script>
