<div class="my-divider"></div>

<div class="row" >
  <div class="col-md-12 header-box">
      <span class="portfolio-header">Selected work 2014-2016</span>
  </div>
</div>

<div class="row" id="min-h">

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="#/portfolio/comics">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="img/project1-2.jpg"class="img-responsive" alt="Project Comics Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">Comics</span>
      <p class="project-box-description"> Kids party center </p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="#/portfolio/invoicepro">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="img/project2-2.jpg"class="img-responsive" alt="Project Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline"> InvoicePro </span>
      <p class="project-box-description">Invoice generator</p></div>
    </div>

    <div class="col-md-4">
      <div class="project-box-test">
          <a href="">
        <div class="project-box-overlay">
            <span class="glyphicon glyphicon-play"></span>
        </div>
            <img src="img/project3v3-2.jpg"class="img-responsive cover-stretch" alt="Project  Showcase"/>
          </a>
      </div>
      <div class="pb-center"><span class="project-box-headline">REHAPP</span>
       <p class="project-box-description">Telemedicine system</p></div>
    </div>

</div>


<!-- END Content -->

<div class="my-divider-2x"></div>
