<div class="row">
    <div class="col-md-12 header-box">
        <span class="header-text"><a href="#/portfolio">Portfolio</a></span><span class="crumb"> / </span><span class="header-text"><a href="#/portfolio/email">Email Example</a></span>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="col-md-7">
        <div class="email-background">
          <div class="pre-header">
            Komiks-Yambol Annual Summer Camp Starts on
            02.06.2016, join us for some fun and educational games!
          </div>
            <div class="email-container">

              <div class="email-header">
                <div class="h1c">Summer Camp</div>
                <div class="h3c">2016</div>
                <div class="h1c">Komiks-Yambol</div>
                <div class="sun-container">
                  <img src="../img/mockup/email/sun.png" alt="sun" />
                </div>
              </div>

              <p>Hi, Komiks-Yambol would like to invite you and your kids
                to our amazing annual Summer Camp!
              </p>

              <div class="action">
                  <a href="">Join Us Now!</a>
              </div>

              <div class="email-info-container">
                <img src="../img/mockup/email/img1.jpg" alt="img1" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Donec id lectus pretium, accumsan erat vestibulum, sagittis
                   purus. Pellentesque quis imperdiet lorem. Donec non diam eget
                   turpis porta hendrerit non et nulla. Integer mauris dui, mollis
                    a tincidunt in, iaculis sit amet sem.
                </p>
              </div>

              <div class="email-info-container">
                <img src="../img/mockup/email/img2.jpg" alt="img2" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Donec id lectus pretium, accumsan erat vestibulum, sagittis
                   purus. Pellentesque quis imperdiet lorem. Donec non diam eget
                   turpis porta hendrerit non et nulla. Integer mauris dui, mollis
                    a tincidunt in, iaculis sit amet sem.
                </p>
              </div>

            </div>

                <div class="email-footer">
                    <a href="">komiks-yambol.com</a> | <a href="">unsubscribe</a>
                </div>
        </div>

      </div>
      <div class="col-md-5">
        <p>
          Usually when I design HTML emails I think about them as Mobile first web-pages. Most of the time
           when I open email it’s on my phone, that’s why responsive and one column layout is the way to go.
        </p>
        <br>
        <p>
          This particular email was designed for a summer camp initiative for one of
           my clients that own a kid’s party center.  It is modern, responsive and it has a ‘call to action’ button.
        </p>

      </div>

      <div class="col-md-5">
        <div class="img-container">
          <img src="../img/mockup/phone-cropped-xs.png" alt="email-mockup" class="email-img"/>
        </div>
      </div>
  </div>
</div>
