<div class="my-divider"></div>

<!-- START Content -->
    <div class="row">
        <div class="col-md-12 header-box">
            <span class="header-text">InvoicePro</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="../img/inv-v3-cor.jpg" class="img-responsive" alt="invoice-pro-img">
                </div>
                <div class="item">
                 <img src="../img/inv-v2-cor.jpg" class="img-responsive" alt="invoice-v2-img">
                </div>
                <div class="item">
                 <img src="../img/inv-v1-cor.jpg" class="img-responsive" alt="invoice-v1-img">
                </div>
              </div>

              <!-- Controls -->
              <span class="left carousel-control"  data-target="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </span>
              <span class="right carousel-control"  data-target="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </span>
            </div>

        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="page-live-box">
            <a href="" target="_blank"> View version 2</a>
        </div>
      </div>
    </div>

  <div class="my-divider-2x"></div>

  <div class="row">
      <div class="col-md-4">
          <div class="page-stages-box-1">

          </div>
          <div class="page-stage-text">
            <span>v.1 Java program</span>
          </div>
      </div>
      <div class="col-md-4">
         <div class="page-stages-box-2">

        </div>
          <div class="page-stage-text">
            <span>v.2 Browser application</span>
          </div>
      </div>
      <div class="col-md-4">
        <div class="page-stages-box-3">
           <img src="../img/project2.png" class="img-responsive" alt="alt"/>
        </div>
          <div class="page-stage-text">
            <span>v.3 Online Billing application </span>
          </div>
      </div>

  </div>

  <div class="my-divider-3x"></div>

    <div class="row">
        <div class="col-md-3">
          <div>
            <span class="header-text">Used technolgies</span>
          </div>
          <div class="page-tech-used">
             <ul>
               <li><i class="fa fa-cog"></i> HTML5/CSS3</li>
               <li><i class="fa fa-cog"></i> JavaScript</li>
               <li><i class="fa fa-cog"></i> jQuery</li>
               <li><i class="fa fa-cog"></i> HTML5 Web Storage</li>
               <li><i class="fa fa-cog"></i> PHP</li>
               <li><i class="fa fa-cog"></i> MySQL</li>
               <li><i class="fa fa-cog"></i> Responsive design</li>
             </ul>
          </div>
        </div>
        <div class="col-md-4">
         <div>
            <span class="header-text">Development</span>
          </div>
          <div class="page-info-used">
             <p>The current v.3 of the site was built as iteration on the previous two versions, with improved features and covering more use cases. The site started as Java program, which had its drawbacks, then became a single user web application that could be used without the need of java on the machine and with HTML5 Storage as database for storing different clients and products. In the 3rd version there is a support for multiple users with different accounts and full billing managing system. Also I am currently working on a paid subscription model for the application. </p>
          </div>
        </div>
        <div class="col-md-5">
         <div>
            <span class="header-text">Info</span>
          </div>
          <div class="page-info-used">
             <p>This project was developed for an accountant that needed a simple way to issue invoices for customers from another country which required item currency exchange, some math and field validation that his standard software didn't allow. </p>
          </div>
        </div>
    </div>


  <div class="my-divider-2x"></div>
